body {
  font-family: Arial, sans-serif;
  background-color:rgb(66, 77, 139);
  color:white;
}
.formulario {
  text-align: center;
  margin-bottom: 20px;

}

input, button {
  padding: 6px 10px;
  font-size: 16px;
  margin-left: 10px;
}

table {
  color: black;
  margin: 0 auto;
  border-collapse: collapse;
}

th {
  border:  1px solid #000000;
  font-size:  12 px;
  background-color: aquamarine;

}
td {
  border: 1px solid #000000;
  padding: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #e79595;
}

td input {
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
  font-size: 16px;
  background-color: transparent;
}

td input:focus {
  outline: none;
}


div{
  margin-bottom: 50px;
}

